[submodule "vicious"]
	path = vicious
	url = https://github.com/vicious-widgets/vicious.git
[submodule "couth"]
	path = couth
	url = https://github.com/gorlowski/couth
[submodule "blingbling"]
	path = blingbling
	url = https://github.com/cedlemo/blingbling
